.auth_main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.auth_left {
  width: 50%;
  position: relative;
  background-position: center;
  background-color: #B79455
}

.auth_right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #B79455;
  padding: 2rem;
}

.auth_item {
  display: flex;
  flex-direction: column;
}

.auth_item label {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.auth_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 340px;
}

.auth_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.auth_header svg {
  margin-bottom: .3rem;
  font-size: 3rem;
  color: #8A0302;
}

.auth_heading {
  font-size: 2rem;
  font-weight: 600;
}

.auth_title {
  font-size: 14px;
  color: black;
}

.auth_options {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-size: 14px;
}

.auth_link {
  color: #8A0302;
  text-decoration: none;
}

.otp_input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.otp_input {
  text-align: center;
  font-weight: 500;
}

.timer_container {
  color: #8A0302;
  font-size: 14px;
  padding: 1rem 0;
}


/* Auth Page */

.blood_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin-bottom: 2rem;
  text-align: center;
  animation: fadeIn 1s ease-in;
}

.blood_image {
  width: 350px;
  height: auto;
  margin-bottom: 1rem;
  animation: pulse 2s infinite;
}

.animated_sentence {
  font-size: 1.5rem;
  color: #8A0302;
  font-weight: bold;
  opacity: 0;
  animation: fadeText 1s ease-in forwards;
}

.blood_banner_description{
  padding: 2rem;
  ;
}

/* Animations */
@keyframes fadeText {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.auth_inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}