.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8A0302;
  color: white;
  padding: 1rem 2rem;
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-image {
  width: 40px; /* Adjust size as needed */
  height: 40px;
  margin-right: 10px;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.navbar-links a {
  color: white;
  text-decoration: none;
}

.navbar-user {
  position: relative;
}

.avatar {
  background: #fff;
  color: #6200ee;
  border-radius: 50%;
  padding: 0.5rem;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background: white;
  color: black;
  min-width: 120px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  padding: 0.5rem;
  z-index: 1;
}

.dropdown-content a,
.dropdown-content button {
  text-decoration: none;
  color: black;
  display: block;
  background: none;
  border: none;
  text-align: left;
  padding: 0.5rem;
  width: 100%;
  cursor: pointer;
}
